# Income measures

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'2.9.0'

## Load data

Start with a `DataFrame` with `expanded_income` and the variables in `expanded_income` excluded from `tpc_eci`.

In [3]:
df = mdf.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben'],
                 metric_vars=['XTOT'])

Calculate `tpc_eci`.

In [4]:
df['tpc_eci'] = mdf.tpc_eci(df)

In [5]:
df.head()

,mcare_ben,tanf_ben,snap_ben,ssi_ben,mcaid_ben,wic_ben,s006,e02300,expanded_income,XTOT,...,housing_ben,e02400,aftertax_income,other_ben,market_income,bens,tax,s006_m,XTOT_m,tpc_eci
RECID,,,,,,,,,,,,,,,,,,,,,
1,0.000000,0.0,0.00000,0.00000,0.000000,0.0,250.14,0.0,54039.301075,2.0,...,0.00000,0.000000,43653.332955,0.000000,54039.301075,0.000000,10385.968120,0.000250,0.000500,54039.301075
2,0.000000,0.0,0.00000,0.00000,0.000000,0.0,211.63,0.0,18789.917880,3.0,...,0.00000,0.000000,21045.358255,0.000000,18789.917880,0.000000,-2255.440376,0.000212,0.000635,18789.917880
3,13640.390612,0.0,1734.12939,3374.52239,8211.593627,0.0,323.50,0.0,52529.495570,1.0,...,5664.74794,13240.409989,52529.495570,6663.701623,0.000000,52529.495570,0.000000,0.000324,0.000324,25012.763391
4,0.000000,0.0,0.00000,0.00000,8211.593627,0.0,186.32,0.0,37956.655257,2.0,...,0.00000,0.000000,36950.797734,3906.542368,25838.519262,12118.135995,1005.857523,0.000186,0.000373,29745.061630
5,27280.781223,0.0,0.00000,0.00000,0.000000,0.0,343.08,0.0,63986.590233,2.0,...,0.00000,35596.390999,63986.590233,0.000000,1109.418010,62877.172223,0.000000,0.000343,0.000686,36705.809010