# The `agg` function

Use `agg` to see the effect of a $10,000 UBI by marital status.

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.2.0'

## Load data

Start with a standard `DataFrame`, then add a UBI manually in a reform copy.

**TODO: `calc_df` breaks when `metric_vars` is not provided.**

In [3]:
base = tch.calc_df(group_vars=['expanded_income', 'aftertax_income', 'MARS'],
                   metric_vars=['XTOT'])
tch.add_weighted_metrics(base, 'aftertax_income')

In [4]:
reform = base.copy(deep=True)
UBI_PP = 10000
reform['ubi'] = reform.XTOT * UBI_PP
reform['aftertax_income'] = reform.aftertax_income + reform.ubi
tch.add_weighted_metrics(reform, 'aftertax_income')

In [5]:
reform.columns

Index(['housing_ben', 'expanded_income', 'mcare_ben', 'ssi_ben', 'e02400',
       'e02300', 'mcaid_ben', 'vet_ben', 'aftertax_income', 'tanf_ben', 'MARS',
       'XTOT', 'wic_ben', 'other_ben', 's006', 'snap_ben', 'market_income',
       'bens', 'tax', 's006_m', 'XTOT_m', 'aftertax_income_m', 'ubi'],
      dtype='object')

## `agg`

### Change in aftertax income by marital status.

In [6]:
tch.agg(base, reform, 'MARS', ['aftertax_income'])

      aftertax_income_m_base  aftertax_income_m_reform  aftertax_income_pctchg
MARS
1.0             3.916351e+06              4.939093e+06                0.261147
2.0             7.692072e+06              9.577865e+06                0.245161
4.0             8.531427e+05              1.275820e+06                0.495436

### Also sum baseline `expanded_income`

In [7]:
tch.agg(base, reform, 'MARS', ['aftertax_income'], 'expanded_income')

,expanded_income,aftertax_income_m_base,aftertax_income_m_reform,aftertax_income_pctchg
MARS,,,,
1.0,1.593936e+10,3.916351e+06,4.939093e+06,0.261147
2.0,6.242669e+10,7.692072e+06,9.577865e+06,0.245161
4.0,2.210208e+09,8.531427e+05,1.275820e+06,0.495436

### Also sum UBI amount

In [8]:
tch.add_weighted_metrics(reform, 'ubi')  # Creates ubi_m = ubi * s006 / 1e6.

tch.agg(base, reform, 'MARS', ['aftertax_income'],
        reform_metrics='ubi_m')

,aftertax_income_m_base,ubi_m,aftertax_income_m_reform,aftertax_income_pctchg
MARS,,,,
1.0,3.916351e+06,1.022742e+06,4.939093e+06,0.261147
2.0,7.692072e+06,1.885793e+06,9.577865e+06,0.245161
4.0,8.531427e+05,4.226775e+05,1.275820e+06,0.495436