# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.0.1'

In [3]:
# tch.__version__
# AttributeError: module 'taxcalc_helpers' has no attribute '__version__'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [4]:
df = tch.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben', 'aftertax_income'],
                 metric_vars=['XTOT'])
df.columns

Index(['expanded_income', 'mcare_ben', 'mcaid_ben', 's006', 'XTOT',
       'housing_ben', 'vet_ben', 'aftertax_income', 'wic_ben', 's006_m',
       'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [5]:
df['tpc_eci'] = tch.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [6]:
tch.add_vat(df)
df.columns

Index(['expanded_income', 'mcare_ben', 'mcaid_ben', 's006', 'XTOT',
       'housing_ben', 'vet_ben', 'aftertax_income', 'wic_ben', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat_incidence', 'vat_liability'],
      dtype='object')

In [7]:
df.head()  # Note these are zero because we block negative tax liability.

,expanded_income,mcare_ben,mcaid_ben,s006,XTOT,housing_ben,vet_ben,aftertax_income,wic_ben,s006_m,XTOT_m,tpc_eci,vat_incidence,vat_liability
RECID,,,,,,,,,,,,,,
37356,-3.367968e+06,0.0,0.000000,63.19,2.0,0.0,0.0,-3.476245e+06,0.0,0.000063,0.000126,-3.367968e+06,0.039,0.0
394743,-9.951682e+05,0.0,0.000000,260.72,3.0,0.0,0.0,-9.954864e+05,0.0,0.000261,0.000782,-9.951682e+05,0.039,0.0
29540,-8.574336e+05,0.0,0.000000,631.86,2.0,0.0,0.0,-8.574336e+05,0.0,0.000632,0.001264,-8.574336e+05,0.039,0.0
306674,-8.241131e+05,0.0,16423.187253,208.58,2.0,0.0,0.0,-8.264863e+05,0.0,0.000209,0.000417,-8.405363e+05,0.039,0.0
276824,-8.325896e+05,0.0,0.000000,249.00,2.0,0.0,0.0,-8.325896e+05,0.0,0.000249,0.000498,-8.325896e+05,0.039,0.0

In [8]:
df.sample(5)

,expanded_income,mcare_ben,mcaid_ben,s006,XTOT,housing_ben,vet_ben,aftertax_income,wic_ben,s006_m,XTOT_m,tpc_eci,vat_incidence,vat_liability
RECID,,,,,,,,,,,,,,
229145,375471.169787,0.000000,0.0,76.63,2.0,0.0,0.0,325401.303049,0.0,0.000077,0.000153,375471.169787,0.028,9111.236485
122171,421771.809501,0.000000,0.0,57.51,4.0,0.0,0.0,302386.296155,0.0,0.000058,0.000230,421771.809501,0.028,8466.816292
174224,675098.345926,13640.390612,0.0,7.00,1.0,0.0,0.0,480201.766555,0.0,0.000007,0.000007,661457.955314,0.025,12005.044164
143483,168967.779141,0.000000,0.0,88.40,2.0,0.0,0.0,140103.364041,0.0,0.000088,0.000177,168967.779141,0.034,4763.514377
145873,45056.489946,0.000000,0.0,378.49,3.0,0.0,0.0,40885.357520,0.0,0.000378,0.001135,45056.489946,0.036,1471.872871