# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.0.1'

In [3]:
# tch.__version__
# AttributeError: module 'taxcalc_helpers' has no attribute '__version__'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [4]:
df = tch.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben', 'aftertax_income'],
                 metric_vars=['XTOT'])
df.columns

Index(['expanded_income', 'vet_ben', 'housing_ben', 'XTOT', 's006',
       'mcare_ben', 'wic_ben', 'aftertax_income', 'mcaid_ben', 's006_m',
       'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [5]:
df['tpc_eci'] = tch.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [6]:
tch.add_vat(df)
df.columns

Index(['expanded_income', 'vet_ben', 'housing_ben', 'XTOT', 's006',
       'mcare_ben', 'wic_ben', 'aftertax_income', 'mcaid_ben', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [7]:
df.head()  # Note these are zero because we block negative tax liability.

,expanded_income,vet_ben,housing_ben,XTOT,s006,mcare_ben,wic_ben,aftertax_income,mcaid_ben,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
37356,-3.367968e+06,0.0,0.0,2.0,63.19,0.0,0.0,-3.476245e+06,0.000000,0.000063,0.000126,-3.367968e+06,0.0
394743,-9.951682e+05,0.0,0.0,3.0,260.72,0.0,0.0,-9.954864e+05,0.000000,0.000261,0.000782,-9.951682e+05,0.0
29540,-8.574336e+05,0.0,0.0,2.0,631.86,0.0,0.0,-8.574336e+05,0.000000,0.000632,0.001264,-8.574336e+05,0.0
306674,-8.241131e+05,0.0,0.0,2.0,208.58,0.0,0.0,-8.264863e+05,16423.187253,0.000209,0.000417,-8.405363e+05,0.0
276824,-8.325896e+05,0.0,0.0,2.0,249.00,0.0,0.0,-8.325896e+05,0.000000,0.000249,0.000498,-8.325896e+05,0.0

In [8]:
df.sample(5)

,expanded_income,vet_ben,housing_ben,XTOT,s006,mcare_ben,wic_ben,aftertax_income,mcaid_ben,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
390383,1.221671e+04,0.0,0.0,1.0,789.42,0.000000,0.0,10879.095234,0.000000,0.000789,0.000789,1.221671e+04,424.284714
190789,3.873744e+04,0.0,0.0,2.0,581.60,0.000000,0.0,32087.095610,0.000000,0.000582,0.001163,3.873744e+04,1155.135442
6404,9.293527e+04,0.0,0.0,4.0,112.00,0.000000,0.0,95335.293625,32847.542419,0.000112,0.000448,6.008773e+04,3432.070570
63155,1.176829e+06,0.0,0.0,5.0,5.55,0.000000,0.0,779431.923757,0.000000,0.000006,0.000028,1.176829e+06,19485.798094
28063,1.631554e+05,0.0,0.0,2.0,1321.08,13640.390612,0.0,140829.813264,0.000000,0.001321,0.002642,1.495151e+05,4788.213651

Add carbon tax and financial transaction tax.

In [9]:
tch.add_carbon_tax(df)
tch.add_ftt(df)
df.columns

Index(['expanded_income', 'vet_ben', 'housing_ben', 'XTOT', 's006',
       'mcare_ben', 'wic_ben', 'aftertax_income', 'mcaid_ben', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt'],
      dtype='object')

In [10]:
df.sample(5)

,expanded_income,vet_ben,housing_ben,XTOT,s006,mcare_ben,wic_ben,aftertax_income,mcaid_ben,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,
397163,48103.053440,18809.434892,0.0,2.0,572.93,13640.390612,0.0,48103.053440,0.0,0.000573,0.001146,15653.227936,1876.019084,384.824428,48.103053
139910,68426.640136,0.000000,0.0,2.0,180.70,13640.390612,0.0,68426.640136,0.0,0.000181,0.000361,54786.249525,2463.359045,1094.826242,68.426640
143905,317640.073758,0.000000,0.0,2.0,36.07,0.000000,0.0,237830.175739,0.0,0.000036,0.000072,317640.073758,6659.244921,3805.282812,951.320703
396478,69496.689949,0.000000,0.0,1.0,41.84,13640.390612,0.0,60337.752878,0.0,0.000042,0.000042,55856.299338,2172.159104,965.404046,60.337753
384026,98400.679103,0.000000,0.0,1.0,92.61,13640.390612,0.0,87715.240120,0.0,0.000093,0.000093,84760.288491,3157.748644,1578.874322,175.430480