# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.0.1'

In [3]:
# tch.__version__
# AttributeError: module 'taxcalc_helpers' has no attribute '__version__'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [4]:
df = tch.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben', 'aftertax_income'],
                 metric_vars=['XTOT'])
df.columns

Index(['mcare_ben', 'housing_ben', 'mcaid_ben', 'aftertax_income',
       'expanded_income', 'wic_ben', 'vet_ben', 'XTOT', 's006', 's006_m',
       'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [5]:
df['tpc_eci'] = tch.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [6]:
tch.add_vat(df)
df.columns

Index(['mcare_ben', 'housing_ben', 'mcaid_ben', 'aftertax_income',
       'expanded_income', 'wic_ben', 'vet_ben', 'XTOT', 's006', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [7]:
df.head()  # Note these are zero because we block negative tax liability.

,mcare_ben,housing_ben,mcaid_ben,aftertax_income,expanded_income,wic_ben,vet_ben,XTOT,s006,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
37356,0.0,0.0,0.000000,-3.476245e+06,-3.367968e+06,0.0,0.0,2.0,63.19,0.000063,0.000126,-3.367968e+06,0.0
394743,0.0,0.0,0.000000,-9.954864e+05,-9.951682e+05,0.0,0.0,3.0,260.72,0.000261,0.000782,-9.951682e+05,0.0
29540,0.0,0.0,0.000000,-8.574336e+05,-8.574336e+05,0.0,0.0,2.0,631.86,0.000632,0.001264,-8.574336e+05,0.0
306674,0.0,0.0,16423.187253,-8.264863e+05,-8.241131e+05,0.0,0.0,2.0,208.58,0.000209,0.000417,-8.405363e+05,0.0
276824,0.0,0.0,0.000000,-8.325896e+05,-8.325896e+05,0.0,0.0,2.0,249.00,0.000249,0.000498,-8.325896e+05,0.0

In [8]:
df.sample(5)

,mcare_ben,housing_ben,mcaid_ben,aftertax_income,expanded_income,wic_ben,vet_ben,XTOT,s006,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
280500,0.000000,0.0,0.000000,92405.432706,114312.900433,0.0,0.000000,4.0,28.60,0.000029,0.000114,114312.900433,3141.784712
49195,13640.390612,0.0,0.000000,108902.144645,111535.927581,0.0,0.000000,1.0,77.91,0.000078,0.000078,97895.536970,3920.477207
181747,0.000000,0.0,16423.187253,159179.013547,186847.452311,0.0,44458.453873,3.0,169.80,0.000170,0.000509,125965.811185,5412.086461
193383,27280.781223,0.0,0.000000,118306.040812,118306.040812,0.0,30418.211203,2.0,3089.25,0.003089,0.006178,60607.048385,4259.017469
11740,0.000000,0.0,0.000000,126765.818726,152523.334426,0.0,0.000000,2.0,12.93,0.000013,0.000026,152523.334426,4310.037837

Add carbon tax and financial transaction tax.

In [9]:
tch.add_carbon_tax(df)
tch.add_ftt(df)
df.columns

Index(['mcare_ben', 'housing_ben', 'mcaid_ben', 'aftertax_income',
       'expanded_income', 'wic_ben', 'vet_ben', 'XTOT', 's006', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt'],
      dtype='object')

In [10]:
df.sample(5)

,mcare_ben,housing_ben,mcaid_ben,aftertax_income,expanded_income,wic_ben,vet_ben,XTOT,s006,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,
449339,0.000000,0.0,0.0,40450.378849,51960.525646,0.0,0.0,1.0,657.96,0.000658,0.000658,51960.525646,1456.213639,647.206062,40.450379
103033,0.000000,0.0,0.0,142342.022843,175952.297689,0.0,0.0,2.0,53.51,0.000054,0.000107,175952.297689,4839.628777,2562.156411,284.684046
121261,0.000000,0.0,0.0,36776.990628,45946.621834,0.0,0.0,1.0,41.57,0.000042,0.000042,45946.621834,1323.971663,551.654859,36.776991
51646,27280.781223,0.0,0.0,130867.231726,145172.830887,0.0,0.0,2.0,82.95,0.000083,0.000166,117892.049664,4449.485879,2355.610171,261.734463
104016,27280.781223,0.0,0.0,180518.400495,182745.035880,0.0,0.0,2.0,70.47,0.000070,0.000141,155464.254657,6137.625617,3249.331209,361.036801

VAT with a custom amount generated.

In [11]:
tch.add_vat(df, total=500e9, name='vat2')  # Find way to make this work.
df.columns

Index(['mcare_ben', 'housing_ben', 'mcaid_ben', 'aftertax_income',
       'expanded_income', 'wic_ben', 'vet_ben', 'XTOT', 's006', 's006_m',
       'XTOT_m', 'tpc_eci', 'vat', 'carbon_tax', 'ftt', 'vat2'],
      dtype='object')

In [12]:
tch.weighted_sum(df, 'vat') / 1e9

419.6898860218403

In [13]:
tch.weighted_sum(df, 'vat2') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [14]:
tch.add_custom_tax(df, 'tpc_eci', 'XTOT_m', 'aftertax_income', tch.VAT_INCIDENCE,
                   'vat3', 1e12)

In [15]:
tch.weighted_sum(df, 'vat3') / 1e9

1000.0