# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.0.1'

In [3]:
# tch.__version__
# AttributeError: module 'taxcalc_helpers' has no attribute '__version__'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [4]:
df = tch.calc_df(group_vars=['expanded_income', 'aftertax_income'] + tch.ECI_REMOVE_COLS,
                 metric_vars=['XTOT'])
df.columns

Index(['aftertax_income', 'housing_ben', 'expanded_income', 'mcare_ben',
       'mcaid_ben', 'vet_ben', 'XTOT', 's006', 'wic_ben', 's006_m', 'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [5]:
df['tpc_eci'] = tch.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [6]:
tch.add_vat(df)
df.columns

Index(['aftertax_income', 'housing_ben', 'expanded_income', 'mcare_ben',
       'mcaid_ben', 'vet_ben', 'XTOT', 's006', 'wic_ben', 's006_m', 'XTOT_m',
       'tpc_eci', 'vat'],
      dtype='object')

In [7]:
df.head()  # Note these are zero because we block negative tax liability.

,aftertax_income,housing_ben,expanded_income,mcare_ben,mcaid_ben,vet_ben,XTOT,s006,wic_ben,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
37356,-3.476245e+06,0.0,-3.367968e+06,0.0,0.000000,0.0,2.0,63.19,0.0,0.000063,0.000126,-3.367968e+06,0.0
394743,-9.954864e+05,0.0,-9.951682e+05,0.0,0.000000,0.0,3.0,260.72,0.0,0.000261,0.000782,-9.951682e+05,0.0
29540,-8.574336e+05,0.0,-8.574336e+05,0.0,0.000000,0.0,2.0,631.86,0.0,0.000632,0.001264,-8.574336e+05,0.0
306674,-8.264863e+05,0.0,-8.241131e+05,0.0,16423.187253,0.0,2.0,208.58,0.0,0.000209,0.000417,-8.405363e+05,0.0
276824,-8.325896e+05,0.0,-8.325896e+05,0.0,0.000000,0.0,2.0,249.00,0.0,0.000249,0.000498,-8.325896e+05,0.0

In [8]:
df.sample(5)

,aftertax_income,housing_ben,expanded_income,mcare_ben,mcaid_ben,vet_ben,XTOT,s006,wic_ben,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,
69063,25493.488411,0.0,30543.264372,0.000000,0.0,0.000000,1.0,90.20,0.0,0.000090,0.000090,30543.264372,917.765583
399322,36533.415314,0.0,42988.132189,0.000000,0.0,0.000000,3.0,369.24,0.0,0.000369,0.001108,42988.132189,1315.202951
175671,137690.338371,0.0,145083.232057,27280.781223,0.0,16994.804121,2.0,13.60,0.0,0.000014,0.000027,100807.646713,4956.852181
243797,28877.246343,0.0,28877.246343,13640.390612,0.0,0.000000,2.0,743.21,0.0,0.000743,0.001486,15236.855731,1126.212607
58985,73454.948750,0.0,80025.315456,13640.390612,0.0,0.000000,1.0,88.05,0.0,0.000088,0.000088,66384.924845,2644.378155

Add carbon tax and financial transaction tax.

In [9]:
tch.add_carbon_tax(df)
tch.add_ftt(df)
df.columns

Index(['aftertax_income', 'housing_ben', 'expanded_income', 'mcare_ben',
       'mcaid_ben', 'vet_ben', 'XTOT', 's006', 'wic_ben', 's006_m', 'XTOT_m',
       'tpc_eci', 'vat', 'carbon_tax', 'ftt'],
      dtype='object')

In [10]:
df.sample(5)

,aftertax_income,housing_ben,expanded_income,mcare_ben,mcaid_ben,vet_ben,XTOT,s006,wic_ben,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,
85939,148281.662314,0.0,191739.999450,0.000000,0.000000,0.0,4.0,604.00,0.00000,0.000604,0.002416,191739.999450,5041.576519,2669.069922,296.563325
446029,89406.329070,0.0,123425.709615,0.000000,0.000000,0.0,1.0,711.79,0.00000,0.000712,0.000712,123425.709615,3039.815188,1609.313923,178.812658
285489,117160.522530,0.0,123037.931707,0.000000,49271.897585,0.0,6.0,476.33,1679.65618,0.000476,0.002858,72086.377942,4217.778811,1991.728883,117.160523
141523,282174.388873,0.0,354091.530441,0.000000,0.000000,0.0,1.0,17.01,0.00000,0.000017,0.000017,354091.530441,7900.882888,4514.790222,1128.697555
104896,40853.096512,0.0,40853.096512,13640.390612,8211.593627,0.0,2.0,568.31,0.00000,0.000568,0.001137,19001.112274,1593.270764,326.824772,40.853097

VAT with a custom amount generated.

In [11]:
tch.add_vat(df, total=500e9, name='vat2')  # Find way to make this work.
df.columns

Index(['aftertax_income', 'housing_ben', 'expanded_income', 'mcare_ben',
       'mcaid_ben', 'vet_ben', 'XTOT', 's006', 'wic_ben', 's006_m', 'XTOT_m',
       'tpc_eci', 'vat', 'carbon_tax', 'ftt', 'vat2'],
      dtype='object')

In [12]:
tch.weighted_sum(df, 'vat') / 1e9

419.6898860218403

In [13]:
tch.weighted_sum(df, 'vat2') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [14]:
tch.add_custom_tax(df, 'tpc_eci', 'XTOT_m', 'aftertax_income', tch.VAT_INCIDENCE,
                   'vat3', 1e12)

In [15]:
tch.weighted_sum(df, 'vat3') / 1e9

1000.0