# Custom taxes

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import microdf as mdf

In [2]:
tc.__version__

'2.3.0'

## Load data

Start with a `DataFrame` with `aftertax_income` and necessary ingredients of `tpc_eci`.

In [3]:
df = mdf.calc_df(group_vars=['expanded_income', 'aftertax_income'] +
                 mdf.ECI_REMOVE_COLS,
                 metric_vars=['XTOT'])
df.columns

Index(['vet_ben', 'tanf_ben', 'XTOT', 'ssi_ben', 'mcare_ben', 'snap_ben',
       'wic_ben', 's006', 'e02400', 'expanded_income', 'other_ben',
       'aftertax_income', 'mcaid_ben', 'housing_ben', 'e02300',
       'market_income', 'bens', 'tax', 's006_m', 'XTOT_m'],
      dtype='object')

Calculate Tax Policy Center's Expanded Cash Income measure, used for the analysis.

In [4]:
df['tpc_eci'] = mdf.tpc_eci(df)

Incidence of a VAT per Tax Policy Center.

In [5]:
mdf.add_vat(df)
df.columns

Index(['vet_ben', 'tanf_ben', 'XTOT', 'ssi_ben', 'mcare_ben', 'snap_ben',
       'wic_ben', 's006', 'e02400', 'expanded_income', 'other_ben',
       'aftertax_income', 'mcaid_ben', 'housing_ben', 'e02300',
       'market_income', 'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat'],
      dtype='object')

In [6]:
df.head()  # Note these are zero because we block negative tax liability.

,vet_ben,tanf_ben,XTOT,ssi_ben,mcare_ben,snap_ben,wic_ben,s006,e02400,expanded_income,...,mcaid_ben,housing_ben,e02300,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
37356,0.0,0.0,2.0,0.0,0.0,0.0,0.0,63.19,0.0,-3.367968e+06,...,0.000000,0.0,917.249671,-3.368885e+06,917.249671,108276.605170,0.000063,0.000126,-3.367968e+06,0.0
394743,0.0,0.0,3.0,0.0,0.0,0.0,0.0,260.72,0.0,-9.951682e+05,...,0.000000,0.0,2187.098005,-9.973553e+05,2187.098005,318.168733,0.000261,0.000782,-9.951682e+05,0.0
29540,0.0,0.0,2.0,0.0,0.0,0.0,0.0,631.86,0.0,-8.574336e+05,...,0.000000,0.0,0.000000,-8.574336e+05,0.000000,0.000000,0.000632,0.001264,-8.574336e+05,0.0
306674,0.0,0.0,2.0,0.0,0.0,0.0,0.0,208.58,0.0,-8.241131e+05,...,16423.187253,0.0,0.000000,-8.483493e+05,24236.271989,2373.258598,0.000209,0.000417,-8.405363e+05,0.0
276824,0.0,0.0,2.0,0.0,0.0,0.0,0.0,249.00,0.0,-8.325896e+05,...,0.000000,0.0,2682.092283,-8.352717e+05,2682.092283,0.000000,0.000249,0.000498,-8.325896e+05,0.0

In [7]:
df.sample(5)

,vet_ben,tanf_ben,XTOT,ssi_ben,mcare_ben,snap_ben,wic_ben,s006,e02400,expanded_income,...,mcaid_ben,housing_ben,e02300,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat
RECID,,,,,,,,,,,,,,,,,,,,,
452004,0.0,0.0,2.0,0.0,0.0,0.0,0.0,5.65,0.0,247578.085369,...,0.0,0.0,0.0,247578.085369,0.0,59944.802917,0.000006,0.000011,247578.085369,6004.265038
389293,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1433.27,0.0,49108.484200,...,0.0,0.0,0.0,49108.484200,0.0,10784.520325,0.001433,0.001433,49108.484200,1379.662700
269914,0.0,0.0,3.0,0.0,0.0,0.0,0.0,64.06,0.0,136805.196965,...,0.0,0.0,0.0,136805.196965,0.0,25869.251395,0.000064,0.000192,136805.196965,3771.822149
168816,0.0,0.0,2.0,0.0,0.0,0.0,0.0,926.99,0.0,12998.925676,...,0.0,0.0,0.0,12998.925676,0.0,-3092.278160,0.000927,0.001854,12998.925676,627.556950
372923,0.0,0.0,5.0,0.0,0.0,0.0,0.0,526.06,0.0,44778.700199,...,0.0,0.0,0.0,44778.700199,0.0,-893.998580,0.000526,0.002630,44778.700199,1644.217156

Add carbon tax and financial transaction tax.

In [8]:
mdf.add_carbon_tax(df)
mdf.add_ftt(df)
df.columns

Index(['vet_ben', 'tanf_ben', 'XTOT', 'ssi_ben', 'mcare_ben', 'snap_ben',
       'wic_ben', 's006', 'e02400', 'expanded_income', 'other_ben',
       'aftertax_income', 'mcaid_ben', 'housing_ben', 'e02300',
       'market_income', 'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat',
       'carbon_tax', 'ftt'],
      dtype='object')

In [9]:
df.sample(5)

,vet_ben,tanf_ben,XTOT,ssi_ben,mcare_ben,snap_ben,wic_ben,s006,e02400,expanded_income,...,e02300,market_income,bens,tax,s006_m,XTOT_m,tpc_eci,vat,carbon_tax,ftt
RECID,,,,,,,,,,,,,,,,,,,,,
343771,0.000000,3028.899782,2.0,0.0,27280.781223,0.000000,0.0,49.82,11866.069896,163559.773434,...,0.0,1.213840e+05,42175.750901,0.000000,0.000050,0.000100,136278.992211,5561.032297,2944.075922,327.119547
96102,0.000000,0.000000,1.0,0.0,0.000000,0.000000,0.0,75.12,0.000000,317125.909836,...,0.0,3.171259e+05,0.000000,83538.910114,0.000075,0.000075,317125.909836,6540.435992,3737.391996,934.347999
196990,22855.320844,0.000000,2.0,0.0,13640.390612,0.000000,0.0,153.04,28958.848246,450716.668160,...,0.0,3.852621e+05,65454.559702,102678.718137,0.000153,0.000306,414220.956704,9745.062601,5568.607200,1392.151800
216246,0.000000,5818.601842,1.0,0.0,13640.390612,2942.235894,0.0,55.37,1493.345273,25392.172209,...,0.0,3.637979e-12,25392.172209,0.000000,0.000055,0.000055,11751.781597,990.294716,203.137378,25.392172
422862,0.000000,0.000000,1.0,0.0,0.000000,0.000000,0.0,31.08,0.000000,73550.831450,...,0.0,7.355083e+04,0.000000,5553.965963,0.000031,0.000031,73550.831450,2447.887158,1155.946713,67.996865

VAT with a custom amount generated.

In [10]:
mdf.add_vat(df, total=500e9, name='vat2')  # Find way to make this work.
df.columns

Multiplying tax by 1.19.

Index(['vet_ben', 'tanf_ben', 'XTOT', 'ssi_ben', 'mcare_ben', 'snap_ben',
       'wic_ben', 's006', 'e02400', 'expanded_income', 'other_ben',
       'aftertax_income', 'mcaid_ben', 'housing_ben', 'e02300',
       'market_income', 'bens', 'tax', 's006_m', 'XTOT_m', 'tpc_eci', 'vat',
       'carbon_tax', 'ftt', 'vat2'],
      dtype='object')

In [11]:
mdf.weighted_sum(df, 'vat') / 1e9

419.6898860218403

In [12]:
mdf.weighted_sum(df, 'vat2') / 1e9

500.0

Calculate by hand using `add_custom_tax`.

In [13]:
mdf.add_custom_tax(df, 'tpc_eci', 'XTOT_m', 'aftertax_income', 
                   mdf.VAT_INCIDENCE, 'vat3', 1e12)

Multiplying tax by 2.38.

In [14]:
mdf.weighted_sum(df, 'vat3') / 1e9

1000.0