# Income measures

## Setup

In [1]:
import numpy as np
import pandas as pd

import taxcalc as tc
import taxcalc_helpers as tch

In [2]:
tc.__version__

'2.0.1'

In [3]:
# tch.__version__
# AttributeError: module 'taxcalc_helpers' has no attribute '__version__'

## Load data

Start with a `DataFrame` with `expanded_income` and the variables in `expanded_income` excluded from `tpc_eci`.

In [4]:
df = tch.calc_df(group_vars=['expanded_income', 'wic_ben', 'housing_ben', 
                             'vet_ben', 'mcare_ben', 'mcaid_ben'],
                metric_vars=['XTOT'])

Calculate `tpc_eci`.

In [5]:
df['tpc_eci'] = tch.tpc_eci(df)

In [6]:
df.head()

,mcare_ben,s006,housing_ben,expanded_income,wic_ben,XTOT,vet_ben,mcaid_ben,s006_m,XTOT_m,tpc_eci
RECID,,,,,,,,,,,
1,0.000000,250.14,0.00000,53636.919015,0.0,2.0,0.0,0.000000,0.000250,0.000500,53636.919015
2,0.000000,211.63,0.00000,18650.034959,0.0,3.0,0.0,0.000000,0.000212,0.000635,18650.034959
3,13640.390612,323.50,5664.74794,52516.165397,0.0,1.0,0.0,8211.593627,0.000324,0.000324,24999.433219
4,0.000000,186.32,0.00000,37764.286717,0.0,2.0,0.0,8211.593627,0.000186,0.000373,29552.693091
5,27280.781223,343.08,0.00000,63941.158283,0.0,2.0,0.0,0.000000,0.000343,0.000686,36660.377060