# `gini` example

In [10]:
import microdf as mdf

import pandas as pd

In [11]:
x = [-10, -1, 0, 5, 100]
w = [1, 2, 3, 4, 5]
df = pd.DataFrame({'x': x, 'w': w})

## Simple behavior

In [12]:
mdf.gini(df, 'x')

0.9617021276595745

## Dealing with negatives

This will be equivalent to `mdf.gini(pd.DataFrame({'x': [0, 0, 0, 5, 100]}))`.

In [13]:
mdf.gini(df, 'x', negatives='zero')

0.780952380952381

In [14]:
mdf.gini(pd.DataFrame({'x': [0, 0, 0, 5, 100]}))

0.780952380952381

This will be equivalent to `mdf.gini(pd.DataFrame({'x': [0, 9, 10, 15, 110]}))`.

In [15]:
mdf.gini(x, negatives='shift')

0.6277777777777778

In [16]:
mdf.gini(pd.DataFrame({'x': [0, 9, 10, 15, 110]}))

0.6277777777777778

## Dealing with weights

In [17]:
mdf.gini(df, 'x', 'w')

0.6800524934383202

In [18]:
mdf.gini(pd.DataFrame({'x': [-10,
                             -1, -1,
                             0, 0, 0,
                             5, 5, 5, 5,
                             100, 100, 100, 100, 100]}))

0.6800524934383202

In [3]:
import pandas as pd
x = list(range(1, 11))  # 1 to 10. Sum = 10 * 11 / 2 = 55.
df = pd.DataFrame({'x': x})

In [4]:
df

    x
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10